:root {
    --color-fondo-cabezera: #4baf73;
    --color-fondo-nav: #5aa6c0;
    --color-fondo-main: #d17df9;
    --color-fondo-informacion: #a0f0f4;
    --color-fondo-barra: #b4b4e4;
    --color-fondo-footer: #fa7e5c;
    --color-borde-rojo: #fa0812;
    --color-borde-azul: #0301fe;
    --color-texto-blanco: #ffffff;
}

* {
    margin: 0px;
    padding: 0px;
}

p {
    color: var(--color-texto-blanco);
}

#todo {
    width: 980px;
    margin: auto;
}

header {
    display: flex;
    background-color: var(--color-fondo-cabezera);
    height: 4vh;
    justify-content: center;
    align-items: center;
}

#medio {
    display: flex;
    align-items: start;
}

nav {
    display: flex;
    background-color: var(--color-fondo-nav);
    width: 20%;
    height: 64vh;
    justify-content: center;
    align-items: start;
}

main {
    display: flex;
    background-color: var(--color-fondo-main);
    width: 80%;
    height: 64vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#c1 {
    display: flex;
    border: 5px solid var(--color-borde-rojo);
    width: 95%;
    height: 25vh;
    justify-content: space-around;
    align-items: center;
}

.d1 {
    border: 5px solid var(--color-borde-azul);
    width: 35%;
    height: 20vh;
}

#c2 {
    display: flex;
    border: 5px solid var(--color-borde-rojo);
    width: 95%;
    height: 25vh;
    justify-content: space-around;
    align-items: center;
}

.d2 {
    border: 4px solid var(--color-borde-azul);
    width: 30%;
    height: 20vh;
}

footer {
    display: flex;
    background-color: var(--color-fondo-footer);
    height: 3vh;
    justify-content: center;
    align-items: center;
}