:root{
    --color-fondo-pagina: #f5f5dc;
    --color-fondo-cabezera: #efc1a6;
    --color-fondo-nav: #eeefa6;
    --color-fondo-main: #bff4a0;
    --color-fondo-informacion: #a0f0f4;
    --color-fondo-barra: #b4b4e4;
    --color-fondo-footer: #eda6a6;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--color-fondo-pagina);
}

#todo{
    width: 980px;
    margin: auto;
}

header{
    background-color: var(--color-fondo-cabezera);
    height: 70px;    
}


main{
    background-color: var(--color-fondo-main);
    height: 500px;
    font-size: 0;
}

nav{
    background-color: var(--color-fondo-nav);
    width: 150px;
    height: 200px;
    margin: 0 0 300px 0;
    display: inline-block;    
}

#info{
    background-color: var(--color-fondo-informacion);
    width: 680px;
    height: 500px;
    display: inline-block;    
}

#barra{
    background-color: var(--color-fondo-barra);
    width: 150px;
    height: 500px;
    display: inline-block;
}

footer{
    background-color: var(--color-fondo-footer);
    height: 25px;
}