:root {
    --principal: #6a1ee9;
    --secundario: #f4f4f4;
    --tercero: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-weight: 800;
}

body {
    width: 1200px;
    margin: auto;
    margin-bottom: 5px;
}

.punto {
    color: var(--principal);
}

/* ──────────────────────────
   HEADER (FLOAT)
────────────────────────── */
.header {
    display: flex;
    width: 100%;
    height: 9vh;
}

.logo {
    display: flex;
    width: 30%;
    height: 5vh;
    justify-content: start;
    align-items: center;
}

#hizq {
    display: flex;
    width: 40%;
    height: 9vh;
    align-items: center;
}

#hder {
    display: flex;
    width: 60%;
    height: 9vh;
    background-color: var(--secundario);
    align-items: center;
}


.menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#izq {
    display: flex;
    width: 50%;
    height: 5vh;
    align-items: center;
}

#der {
    display: flex;
    width: 50%;
    height: 5vh;
    align-items: center;
}

.navi {
    margin-left: 12%;
}

.navd {
    display: flex;
    width: 35%;
    height: 3vh;
    margin-left: 7%;
    justify-content: center;
    align-items: center;
}

#navd1 {
    background-color: var(--tercero);
    border-radius: 5px;
}

#navd2 {
    background-color: var(--principal);
    border-radius: 5px;
    color: var(--tercero);
}


/* ──────────────────────────
   LINEA 1
────────────────────────── */

#linea1 {
    display: flex;
    width: 100%;
    height: 80vh;
}

/* Columnas */
#bloque1 {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    justify-content: start;
    align-items: flex-start;
}

#bloque2 {
    display: flex;
    width: 60%;
    height: 100%;
    background-color: var(--secundario);
    justify-content: center;
    align-items: center;
}

/* Elementos internos */
#elemento1,
#elemento2,
#elemento3,
#elemento4,
#elemento5 {
    margin-bottom: 1vh;
    /* CONTROLA SEPARACIÓN entre elementos */
}

/* Elemento que contiene div + texto */
#elemento1 {
    display: flex;
    width: 100%;
    color: var(--principal);
    align-items: center;
}

/* Caja “Nuevo” */
#nuevo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 2.2vh;
    margin-right: 1vh;
    background-color: var(--principal);
    color: var(--tercero);
    border-radius: 5px;
}

/* NO flex → contienen spans */
#elemento2 {
    width: 90%;
    font-size: 4rem;
}

#elemento3 {
    width: 90%;
    font-size: 1.52rem;
}

/* Botón */
#elemento4 {
    display: flex;
    width: 40%;
    height: 4vh;
    justify-content: center;
    align-items: center;
    background-color: var(--principal);
    color: var(--tercero);
    border-radius: 10px;
}

/* Imagen */
#elemento5_1 {
    width: 50%;
}

/* ──────────────────────────
   LINEA 2
────────────────────────── */

#linea2 {
    display: flex;
    width: 100%;
    height: 60vh;
    margin-top: 20vh;
}

#bloque3 {
    width: 40%;
    height: 50vh;
}

#bloque4 {
    display: flex;
    width: 60%;
    height: 100%;
    padding-left: 10%;
    flex-direction: column;
}

#bloque41 {
    display: flex;
}

#subbloque41 {
    display: flex;
    margin-left: 10%;
    flex-direction: column;
}

#elemento6 {
    width: 100%;
    height: 15vh;
    margin: 0 0 2vh 0;
    font-size: 5rem;
}

#elemento7 {
    width: 100%;
    height: 3vh;
    margin-top: 1.2vh;
    font-size: 2rem;
}

#elemento8,
#elemento9 {
    width: 100%;
    height: 3vh;
    margin-top: 12.5vh;
    font-size: 2rem;
}

.ndecide {
    display: flex;
    width: 100%;
    margin-top: 2vh;
    font-size: 1.5rem;
}

/* ──────────────────────────
   LINEA 3
────────────────────────── */

#linea3 {
    display: flex;
    width: 100%;
    height: 50vh;
    background-color: var(--secundario);
    border-radius: 40px;
    margin-top: 20vh;
}

#bloque5 {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#subbloque5 {
    display: flex;
    margin-left: 20%;
    flex-direction: column;
}

#elemento10 {
    width: 80%;
    font-size: 3rem;
    margin-bottom: 3vh;
}

#elemento11 {
    width: 80%;
    font-size: 1.5rem;
    margin-bottom: 3vh;
}

#elemento12 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 4vh;
    background-color: var(--principal);
    color: var(--tercero);
    border-radius: 10px;
}

#bloque6 {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


/* ──────────────────────────
   LINEA 4
────────────────────────── */

#linea4 {
    display: flex;
    width: 100%;
    height: 70vh;
    margin-top: 30vh;
    flex-direction: column;
}

#elemento13 {
    width: 60%;
    height: 5vh;
    margin-bottom: 1vh;
    font-size: 4rem;
}

#elemento14 {
    width: 80%;
    height: 1.5vh;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-size: 1.5rem;
}

#cajas3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#caja1,
#caja2,
#caja3 {
    width: 31.32%;
    height: 60vh;
    margin-top: 5vh;
}

/* Parte de arriba y parte de abajo internas */
#sep1,
#sep3,
#sep5 {
    height: 40vh;
}

#sep2,
#sep4,
#sep6 {
    height: 15vh;
    padding-top: 0.5vh;
}

.l1 {
    display: flex;
    width: 95%;
    height: 1.5vh;
    margin: 1vh;
    justify-content: space-between;
}

.l2 {
    width: 95%;
    height: 4.5vh;
    margin: 1vh;
    margin-top: 2vh;
    font-size: 1.5rem;
}

.l3 {
    width: 25%;
    height: 1.5vh;
    margin: 1vh;
    margin-top: 2vh;
    color: var(--principal);
}



/* ──────────────────────────
   LINEA 5
────────────────────────── */

#linea5 {
    display: flex;
    width: 100%;
    height: 30vh;
    margin-top: 15vh;
    color: var(--tercero);
    justify-content: center;
    align-items: center;
}

#caja4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 30vh;
    background-color: var(--principal);
    border-radius: 25px;
}

#subcaja1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: auto;
}

#elemento24 {
    width: 100%;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2vh;
}

#elemento25 {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 4vh;
}

#elemento26 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 7vh;
    background-color: var(--tercero);
    color: #d4d4d4;
    border-radius: 15px;
    padding: 0 3%;
    font-size: 1.5rem;
}

#correo {
    display: flex;
    align-items: center;
}

#abrir {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40%;
    height: 4vh;

    background-color: var(--principal);
    color: var(--tercero);
    border-radius: 15px;
}


/* ──────────────────────────
   LINEA 6
────────────────────────── */

#linea6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    margin-top: 5vh;
}

#precaja1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    height: 100%;
}

#caja5,
#caja6,
#caja7,
#caja8 {
    display: flex;
    flex-direction: column;
    width: 22%;
    margin-right: 5%;
}

#caja8 {
    margin-right: 0;
}

.th,
.thf {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1vh;
}

.td,
.tdf {
    font-size: 1.2rem;
    margin-top: 3vh;
    margin-bottom: 1vh;
}


/* ──────────────────────────
   LINEA 7
────────────────────────── */

#linea7 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15vh;
    padding: 2vh 0 0 2vh;
}

#elemento42 {
    width: 100%;
    height: 5px;
    background-color: var(--secundario);
    border-radius: 100px;
}

#caja9 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 9vh;

    margin-top: 2vh;
}

#elemento43 {
    font-size: 1.2rem;
}

#elemento44 {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 1vw;
}

#aviso {
    font-weight: bold;
}