* {
    margin: 0px;
    padding: 0px;
}

body {
    padding-top: 20px;
    text-align: center;
    background-image: url("../imgs/old_map.png");
}

#page {
    width: 960px;
    margin: 0px auto;
    text-align: left;
}

#header {
    font-family: Courier;
    color: #ffffff;
    font-size: 1.1em;
    border-bottom: 6px #000000 solid;
    background-color: #313B44;
}

#header h1 {
    background-image: url("../imgs/logo.png");
    background-repeat: no-repeat;
    background-position: 25px center;
    padding: 20px 100px;
}

#nav {
    font-family: Courier;
    font-size: 1.4em;
    color: #c0c0c0;
    text-align: center;
    background-image: url("../imgs/red015.jpg");
}

#nav ul li {
    padding-top: 80px;
    margin: 0px 100px 20px 100px;
    list-style: none;
    display: inline-block;
    text-align: center;
    cursor: default;
}

#contenidos {
    background-image: url("../imgs/book.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

#videos {
    background-image: url("../imgs/film.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

#contacto {
    background-image: url("../imgs/mail.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

#nav a {
    text-decoration: none;
    color: #ffa500;
}

#nav a:hover {
    color: #ffffff;
}

#content {
    font-family: Verdana;
    font-size: 0.8em;
    background-image: url("../imgs/lgrey008.jpg");
    height: 502px;
}

.article {
    width: 240px;
    border: 1px #d3d3d3 solid;
    background-color: #ffffff;
    text-align: center;
    line-height: 1.8em;
    padding: 5px 5px 22px 5px;
    margin: 30px;
    float: left;
}

.article_header {
    border-bottom: 1px #999999 solid;
}

.article_header h2 {
    padding: 10px;
    font-size: 1.2em;
}

#footer {
    clear: both;
    color: #ffffff;
    font-size: 0.7em;
    text-align: center;
    background-color: #313B44;
    border-top: 6px #000000 solid;
    padding: 15px 0px;
}

#footer a {
    color: white;
}
