* {
    margin: 0;
    padding: 0;
}

article > header > h2 {
    background: white;
    padding: 10px;
    box-shadow: 2px 2px 2px #808080;
}

html {
    background-color: #ffffff;
}

body {
    padding-top: 20px;
    text-align: center;
    background: linear-gradient(to bottom, #E34C26 0%, #f0652900 90%);
}

body>div {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
    box-shadow: 10px 10px 10px #808080;
    border-radius: 0 20px 20px 20px;
}

body>div>header {
    font-family: Courier;
    color: #ffffff;
    font-size: 1.1em;
    border-bottom: 6px #000000 solid;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(to bottom, #0170B9, #27AADE);
}

body>div>header h1 {
    background-image: url("../imgs/logo.png");
    background-repeat: no-repeat;
    background-position: 25px center;
    padding: 20px 100px;
}

nav {
    font-family: Courier;
    font-size: 1.4em;
    color: #c0c0c0;
    text-align: center;
    background: linear-gradient(to bottom, #D5BA32, #FFDA3E);
}

nav ul li {
    padding-top: 80px;
    margin: 0 100px 20px 100px;
    list-style: none;
    display: inline-block;
    text-align: center;
    cursor: default;
}

nav li:nth-of-type(1) {
    background-image: url("../imgs/book.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

nav li:nth-of-type(2) {
    background-image: url("../imgs/film.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

nav li:nth-of-type(3) {
    background-image: url("../imgs/mail.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    color: #ffa500;
}

main {
    font-family: Verdana;
    font-size: 0.8em;
    background-color: #ffffff;
    height: 502px;
}

main article {
    width: 250px;
    text-align: center;
    line-height: 1.8em;
    border-width: 70px 20px 64px 22px;
    border-style: solid;
    border-image: url("../imgs/movil.png") 70 20 64 22;
    padding: 5px 5px 22px 5px;
    margin: 14px;
    float: left;
}

main article>header {
    border-bottom: 1px #999999 solid;
}

footer {
    clear: both;
    color: #ffffff;
    font-size: 0.7em;
    text-align: center;
    background: linear-gradient(to top, #0170B9, #27AADE);
    border-top: 6px #000000 solid;
    border-radius: 0 0 20px 20px;
    padding: 15px 0;
}

footer a {
    color: #ffffff;
}